@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: poppins;
  background-color: beige;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

body::before {
  height: 100%;
  width: 100%;
  z-index: -1;
}

#name-input,
#email-input {
  margin-bottom: 1em;
}

#age-input {
  margin-bottom: 2.75rem;
}

.clue {
  font-size: 0.9rem;
  color: #acacac;
  display: flex;
}

.container {
  background-color: #fff;
  box-shadow: 0 30px 45px rgba(0, 0, 0, 0.3);
  width: 100%;
  margin: 3.125em auto;
  border-radius: 20px;
  padding: 20px;
}

.header {
  text-align: center;
  padding: 2rem 0.625rem;
}

.header span {
  display: inline-flex;
}

.title {
  font-size: 1.125rem;
}

#title {
  font-size: 2rem;
  color: darkgoldenrod;
}

.description {
  font-size: 1rem;
  color: #888;
  text-align: center;
  line-height: 1.2;
  display: inline-flex;
  flex-direction: column;
}

.question {
  display: flex;
}

.sub-question {
  margin-bottom: 5px;
}

.form-group {
  margin: 2.125rem auto;
}

label {
  display: inline-flex;
  margin-right: 20px;
}

.input-checkbox {
  display: flex;
}

.input-radio,
.input-checkbox {
  margin-right: 5px;
}

.input-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: vertical;
  font-family: poppins;
  font-size: 1rem;
}

.input-textarea::placeholder {
  font-family: poppins;
}

.input-textarea:focus {
  border: 2px solid darkgoldenrod;
  outline: none;
}

button {
  border: none;
  margin: 0;
}

.submit-button {
  background-color: #333333b0;
  color: #fff;
  padding: 0.75rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: block;
  width: 100%;
  font-family: poppins;
  font-weight: bold;
}

.submit-button:hover {
  background-color: rgba(184, 135, 11, 0.618);
  transform: scale(1.05);
}

.thanks {
  font-size: 1rem;
  color: darkgoldenrod;
  text-align: center;
  display: none;
  margin-top: 3rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#name-input,
#email-input,
#age-input {
  position: relative;
  margin-top: 2rem;
}

input::placeholder {
  visibility: collapse;
}

.input {
  font-family: poppins;
  font-size: 16px;
  padding: 10px 10px 10px 0;
  display: block;
  width: 300px;
  border-style: hidden;
  border-bottom: 1px solid darkgoldenrod;
  background: transparent;
}

input[type="email"] {
  text-transform: lowercase;
}

input[type="text"] {
  text-transform: capitalize;
}

input[type="radio"] {
  margin-left: 0;
}

.input:focus {
  outline: none;
}

.nameLabel,
.emailLabel,
.ageLabel {
  color: #999;
  font-size: 1.125rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

select {
  padding: 0.6em 1.4em.5em.8em;
  border-radius: 10px;
  border: 2px solid darkgoldenrod;
}

option {
  font-family: poppins;
}

.input:focus~label,
.input:valid~label {
  top: -20px;
  font-size: 14px;
  color: darkgoldenrod;
}

.input:invalid {
  color: darkgray;
}

.bar {
  position: relative;
  display: block;
  width: 300px;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: darkgoldenrod;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.input:focus~.bar:before,
.input:focus~.bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.input:focus~.highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: darkgray;
  }

  to {
    width: 0;
    background: transparent;
  }
}

.input-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid darkgoldenrod;
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.input-checkbox:before {
  content: "";
  background-color: darkgoldenrod;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.input-checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.checkboxes {
  font-size: 18px;
  color: #000000;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

header,
#survey-form {
  animation: fadeIn 1s ease-in-out;
}

.input-radio,
.input-checkbox {
  vertical-align: sub;
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.thanks {
  display: block;
  animation: fadeIn 1s ease-in-out;
}

.rating:not(:checked)>input {
  position: absolute;
  appearance: none;
}

.rating {
  display: inline-flex;
  flex-direction: row-reverse;
}

.rating:not(:checked)>label {
  cursor: pointer;
  font-size: 36px;
  color: #666;
  justify-content: space-between;
  align-items: center;
  margin: 1px;
}

.rating:not(:checked)>label:before {
  content: "★";
}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
  color: orange;
}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
  color: darkgoldenrod;
}

.rating>input:checked~label {
  color: darkgoldenrod;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    padding-top: 0;
  }

  .text-center {
    font-size: 0.75rem;
  }

  .container {
    padding: 20px;
    max-width: 90%;
  }

  .title {
    font-size: 1rem;
  }

  .sub-question,
  .question,
  .label,
  .input,
  .thanks,
  .checkboxes {
    font-size: 0.8rem;
  }

  .clue {
    font-size: 0.75rem;
  }
}

footer {
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #6262628d;
  display: flex;
  flex-direction: column;
  align-items: center;
}
